*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*.zip
*.egg-info
*.egg
*.log
*.out
*.png
*.jpg
*.jpeg
*.gif
*.pdf
*.ply
./output/*
*.bin
*.ply
*.npz